@import './../../style/colors.scss';
@import './../../style/breakpoints.scss';

.input-row {
  display: block;
  width: 100%;
  margin-bottom: 5px;

  label {
    text-transform: uppercase;
    font-size: 11px;
  }

  input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .error {
    display: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1;
    color: $red;
    font-weight: 700;

    &[data-show="true"] {
      display: block;
    }
  }
}