@import './../style/breakpoints.scss';

#progress {
  margin-top: 20px;

  h3 {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;

    @include breakpoint-min (xs) {
      font-size: 16px;
    }
  }

  h4 {
    font-size: 11px;
    color: #5C5C5C;
    text-align: center;

    @include breakpoint-min (xs) {
      font-size: 14px;
    }
  }

  .images {
    li {
      margin-top: 20px;

      img {
        max-width: 100%;
      }
    }
  }
}