@import './../style/breakpoints.scss';
@import './../style/colors.scss';

#topbar {
  background: $primary;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  z-index: 2;
  box-shadow: 0 0 5px 0;

  .topbar-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    height: 40px;

    @include breakpoint-min (xs) {
      height: 60px;
    }

    .brand {
      max-width: 150px;

      @include breakpoint-min (xs) {
        max-width: 200px;
      }

      @include breakpoint-min (sm) {
        max-width: 250px;
      }
    }

    .contact {
      font-size: 12px;
      text-decoration: underline;
      color: $white;
      padding-top: 5px;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      @include breakpoint-min (xs) {
        font-size: 14px;
        font-weight: 900;
      }

      @include breakpoint-min (sm) {
        font-size: 16px;
      }
      
      img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: bottom;

        @include breakpoint-min (sm) {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}